body {
  background: #F4F3DB none repeat scroll 0 0;
  font-size: 130%;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}

#container {
  clear: both;
  margin: 0 auto;
  font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
  color: #222;
  max-width: 700px;
}

#header {
  margin: 0 auto;
  margin-bottom: 3em;
  max-width: 100%;
  font-family: "Helvetica", sans-serif;
  background: #000000 none repeat scroll 0 0;
  border-bottom: lightgray solid 2px;
}

#header h1 {
  float: left;
}

.clear {
  clear: both;
}

#header ul {
  float: right;
  margin: 0;
  color: #F4F3DB;
  font-family: Verdana, sans-serif;
  font-size: .6em;
}

#header ul a {
  text-decoration: none;
}

#header li {
  color: #F4F3DB;
  list-style: square;
  display: inline;
  margin-right: .4em;
}

#head {
  /*max-width: 700px;*/
  margin: 0 auto;
  padding: .2em;
  padding-left: .4em;
}

#head h1 a {
  text-decoration: none;
  color: #F4F3DB;
}

#header h1, #header h2 {
  color: #F4F3DB;
  font-size: .8em;
  padding: 0;
  margin: 0;
}


/*
.style-novel {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	background: #F4F3DB;
	color: #222;
}

.style-ebook {
	font-family:Arial, Helvetica, sans-serif;
	background: #eee;
	color: #333;
}
.style-ebook h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: normal;
}

.style-newspaper {
	font-family:"Times New Roman", Times, serif;
	background: #F7F7F7;
	color: #222;
}
.style-newspaper h1 {
	text-transform:capitalize;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.style-terminal {
	font-family: "Lucida Console", Monaco, monospace;
	background: #1D4E2C;
	color: #C6FFC6;
}

*/

label {
  display: block;
}

.content .title {
  margin-bottom: 0;
}

.content .meta {
  margin-top: 0;
  font-size: 75%;

}

.content .body {
  margin-bottom: 0;
}

.content h4 {
  margin-top: 0;
}

.title a {
  text-decoration: none;
  color: #222;
}

textarea, input {
  border: 1px solid black;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: .2em;
  margin: 5px 0;
}

#comments textarea {
  width: 99%;
}

#comments {
  font-family: corbel,'lucida grande',helvetica,sans-serif;
}

#comments form {
  text-align: right;
}

#comments form label{
  display: inline;
}

#comments form p{
  margin: 0;
}

#comment-list li {
  margin-bottom: 20px;
}

.comment .body p {
  margin: 0;
  margin-top: 15px;
}

.comment .body .meta{
  text-align: right;
}

a, a:visited {
  color: inherit;
}

a:hover {
  color: gray;
}

.field_error {
  border: 3px solid red;
}

.error_message {
  color: red;
}

.error {
  border: 2px solid red;
  background-color: lightcoral;
  padding: 5px;
}

.notice {
  border: 2px solid gold;
  background-color: yellow;
  padding: 5px;
}

.success {
  border: 2px solid green;
  background-color: lightgreen;
  padding: 5px;
}

.requests {
  padding: 0;
  margin-top: 1.5em;
}
.requests li {
  list-style: none;
}

.requests .date {
  width: 240px;
  position: relative;
  float: left;
  display: inline;
  color: #767676;
}

.requests .meta {
  text-align: right;
  font-size: .8em;
}

#new_content input, #new_content textarea {
  width: 100%;

}
