<h2>Archives</h2>
<ul class="requests">
<% @contents.each do |content| %>
  <li>
    <div class="date"><%= Time.parse(content.published_date).strftime('%B %d, %Y') %> </div>
    <div class="title"><a href="<%= page_url content.permalink %>"><%=h content.title + " (#{content.comments.size})"%></a></div>
    <!--<div class="by meta"><%= content.user.display_name %></div>-->
  </li>
<% end %>
</ul>
